$separator: rgb(73, 70, 78);
$separator-transparent: rgba(73, 70, 78, 0);

$background-lighterer: rgb(92, 88, 100);
$background-lighter: rgb(61, 57, 70);
$background-base: rgb(39, 36, 46);
$background-darker: rgb(25, 22, 31);
$background-darkest: rgb(13, 11, 17);
$background-dusk: rgb(3, 2, 3);

$highlight1: rgb(241, 37, 180);
$highlight2: rgb(0, 243, 41);
$highlight3: rgb(46, 67, 250);

$font-darker: rgb(167, 166, 164);
$font-base: rgb(214, 209, 194);
$font-highlight: rgb(208, 226, 184);
$font-highlight-shine: rgba(179, 247, 134, 0.438);
$font-highlighter: rgb(180, 240, 168);
$font-warning: rgb(151, 51, 51);
