@import 'colors.scss';

.projects-display {
  border-radius: 5px;
  margin: 10px 0;
  background-color: $background-dusk;
  min-height: 400px;
  overflow: hidden;
  box-shadow: 0 0 5px $background-darkest;
  display: flex;
  flex-direction: column;
}

.projects-nav {
  background-color: $background-darkest;
  display: flex;
}

.projects-nav-item {
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s;

  &:not(:first-child) {
    border-width: 0;
    border-left: 1px;
    border-color: $background-dusk;
    border-style: solid;
  }
}

.nav-selected {
  font-weight: 500;
  background-color: $background-dusk !important;
}

.project-description {
  padding: 20px 5px;

  .tech-list {
    display: flex;
    align-items: center;

    div {
      background-color: $background-lighter;
      min-width: 50px;
      height: 20px;
      font-size: small;
      text-align: center;
      border-radius: 11px;
      margin: 5px;
      padding: 0 5px;
    }
  }

  h5 {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  .discussion {
    margin-top: 20px;
    font-size: small;
    color: $font-darker;
  }
}
