@import '../abstracts/colors';

.content {
  @media screen and (max-width: 1000px) {
    padding: 30px;
  }

  font-weight: 300;
  padding: 10px;
  background: $background-darker;
  flex-grow: 2;
  display: flex;
  flex-direction: column;

  hr {
    margin: 40px 50px;
    &.project-hr {
      margin: 10px 0px;
      background-color: $background-base;
    }
  }

  div.pill-tail {
    margin: 40px 10px;
    background: $background-base;
    height: 2px;
    hr.pill {
      margin: auto;
      position: relative;
      top: -1px;
      height: 4px;
      width: 40px;
      border-radius: 5px;
      box-shadow: 0 0 10px black;
      background: $font-highlight;
    }
  }

  h3 {
    color: $font-highlighter;
    font-weight: 400;
  }

  h4 {
    color: $font-highlight;
    font-weight: 300;
  }
}

#intro {
  p {
    margin: 20px 0;
    font-size: small;

    .shift {
      margin: 5px 10px;
      display: inline-block;
    }

    &.nomarg {
      margin: 0 0;
    }
  }

  strong {
    color: $font-highlighter;

    &.mild {
      color: $font-highlight;
    }

    &.warning {
      color: $font-warning;
    }

    &.shiny {
      text-shadow: 0 0 4px $font-highlight-shine;
    }
  }
}

.stack-cols {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.stack {
  ul {
    list-style: none;
  }

  li {
    margin-top: 5px;
    padding: 0 5px;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .underline {
    background-color: $background-base;
  }

  .highlight-skill {
    background-color: $background-lighter;
  }
}
